* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;    
}

body {
    background-image: url(bgimg.jpg);
    background-size: cover;
}
.header{
    color: #000000;
    text-shadow: 3px 3px rgb(255, 254, 254);
    text-align: center;
    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: -35px;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(180deg, #0C2D57, #FC6736);
    color: #000000;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 20px 35px;
    text-align: center;
}

.search {
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #000000;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 16px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px; 
}

.humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
}
